const xmanFetchers = {
  'EGLL': 'http://egll-fetcher/status',
};
const mapping = 'http://mapping/status';
const xmanOrchestrator = 'http://xman-orchestrator/status';
const arcid = 'http://arcid/status';

export const api = {
  xmanFetchers,
  mapping,
  xmanOrchestrator,
  arcid,
};


const expectedClients = 25;

export const constants = {
  expectedClients,
};
